.HR-Box{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.ThemeBreak {
    border-bottom: 1px solid #ececec;
    width: 50%;
    margin-top: 40px;
}

.Graph-Container {
    display: table;
    
}